img {
    float: left;
    width: 30%;
    margin: 1.66%
}

h1 {
    font-family: "Lato";
    margin-left: 1.66%;
    font-size: 25px;
    width: 30%;
    text-transform: uppercase;
    padding-bottom: 20px;
    border-bottom: 2px solid #f1f1f1;
}